<app-header (featureSelected)='onNavigate($event)'></app-header>
<app-mapa *ngIf="ListenedFeature === 'mapa'"
(featureSelected)='onNavigate($event)'
(Latitudenv)='Latitudresi($event)'
(Longitudenv)='Longitudresi($event)'
(Areaenv)='Arearesi($event)'
></app-mapa>

<app-cc *ngIf="ListenedFeature === 'CC'"
(featureSelected)='onNavigate($event)'
(Consumoenv)='Consumoresi($event)'
(Ninosenv)='Ninosresi($event)'
(Adultosenv)='Adultosresi($event)'
(Ancianosenv)='Ancianosresi($event)'
(AdultosTenv)='AdultosTresi($event)'
(AncianosTenv)='AncianosTresi($event)'
(P1env)='P1resi($event)'
(P2env)='P2resi($event)'
(P3env)='P3resi($event)'
(P4env)='P4resi($event)'
(Vectorenv)='Vectorresi($event)'
></app-cc>

